.form-create-contact-wrapper {
    display: flex;
    justify-content: space-between;
}

.create-contact-image-wrapper {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 400ms;
}

.create-contact-image-wrapper:hover {
    background-color: lightgray;
}

.create-contact-select-field {
    width: 100%;
}

@media (max-width:580px) {
    .create-contact-image-wrapper {
        width: 75px;
        height: 75px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .form-create-contact-wrapper{
        display: block;
    }
}