.pt-10 {
    padding-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-50 {
    margin-top: 50px;
}

.s-text {
    font-size: 18px;
}

.l-text {
    font-size: 22px;
}

.xl-text {
    font-size: 26px;
}

.s-title {
    font-size: 36px;
}

.default-field {
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
    padding-left: 30px;
    transition: 400ms;
    outline: none;
    width: 100%;
}

.valid {
    border: solid 4px #728BAD;
}

.invalid {
    border: solid 4px brown;    
}


@media (max-width:580px) {
    .l-text {
        font-size: 16px;
    }
}

@media (max-width:1300px) {
    .s-text {
        font-size: 12px;
    }

    .s-title {
        font-size: 28px;
    }
}

@media (max-width:1024px){
    .s-title {
        font-size: 18px;
    }
}

@media (max-width:650px) {
    .s-title {
        font-size: 12px;
    }
    .s-text{
        font-size: 10px;
    }
}